.weather-now-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    height: 100px;
    width: 100px;
}

.description {
    color: white;
    font-weight: bold;
}

.humidity {
    font-weight: bold;
}

.humidity span{
    font-weight: normal;
}

.temp {
    font-weight: bold;
}

.temp span {
    font-weight: normal;
}